.bomber-background {
    background-color: #6d819c;
    background-image: url("/images/wallheaven.png");
}

.menu-top {
    background-color: #2B4E79;
    border: 0px;
    color: #dedede;
    z-index: 3;
}

.bomber-title-menu {
    color: #dedede;
    font-family: Montserrat;
    font-size: 14px;
}

.bomber-title {
    color: #dedede;
    font-family: Montserrat;
    font-size: 18px;
}

.bomber-brand:link {
    color: red;
}

.bomber-brand:visited {
    color: #dedede;
}

.bomber-brand:hover {
    color: hotpink;
}

.bomb-btn {
  background-color: #2B4E79;
  color: #dedede;
}

.bomb-btn:hover {
  background-color: #244063;
  color: #c5c5c5;
}

.bomber-footer {
    background: #8AC53F;
    position: fixed;
    bottom:0px;
    height:20px;
    width:100%;
    z-index: 2;
}

.bomber-grass {
    background-image: url("/images/grass4.png");
    background-repeat: repeat-x;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 150px;
    z-index: -1;
}

.bomber-block {
    background-color: #e4e7ec;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px 15px 10px 15px;
    border-radius: 5px;
    z-index: 3;
    float: center;
}

.bomber-block-bot {
    background-color: #e4e7ec;
    border-radius: 5px;
    margin-top: 0;
    margin: 0 20px 20px 20px;
}

.bomber-bold {
    color: #55967e;
}

.bomber-text {
    color: #263959;
    font-family: Montserrat;
}

.bomber-table {
    border-color: #55967e;
}

hr.bomber-line {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #dedede, #2B4E79, #2B4E79, #2B4E79, #dedede);
}

.bomber-btn {
    background-color: #2B4E79;
    color: #dedede;
}

.bomber-btn:hover {
    background-color: #18365A;
    color: #fff;
}

td {
    vertical-align: bottom; /*Sinon les colonnes ne s'allignent pas vers le bas, logique*/
    padding: 3px; /*Espacement entre chaques colonnes*/
}
#second, #first, #third {
    width: 100px; /* Largeur de chaques colonnes*/
}
#first {
    height: 240px;
    background: #ffc215;
}
#second {
    height: 190px;
    background: #A8A8A8;
}
#third {
    height: 140px;
    background: #965A38;
}
.text-center {
    text-align:center;
    font-size:50px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight:900;
    transform: scale(1.5, 1);
}
.text-inside {
    text-align:center;
    padding-top:15px;
    font-family: 'Libre Franklin', sans-serif;
}
.player {
    font-size:20px;
}

.points {
    padding-top:14px;
    font-size:14px;
    display: block;
}

.users {
    padding-top:5px;
    font-size:14px;
    display: block;
    color: #222222;
}

#podium {
    margin: 0 auto;
}

.functionality {
    z-index: 4;
    width: 320px;
    font-size: 12px;
}

.swiper-container {
    height: 250px;
}

.bomber-slide {
    padding: 15px 60px 15px 60px;
}

.verticalLine {
    border-left: #012039 solid 1px;
    height: 190px;
    margin-top: 15px;
}
