<!-- views/accueil.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Accueil</title>
    <% include ./partials/header %>
</head>
<body>

<% include ./partials/navbar %>


<div class="container">
    
</div>

<% include ./partials/footer %>

</body>
</html>
