<!-- views/accueil.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Accueil</title>
    <% include ./partials/header %>
</head>
<body class="cms-index-index cms-home-page">
    <div id="page"> 
        <!-- Header -->
        <header>
            <% include ./partials/topBar %>
            <% include ./partials/navbar %>
        </header>

        <% include ./partials/footer %>
    </div> 
</body>
</html>
